**~
**.acn
**.acr
**.alg
**.aux
**.auxlock
**.bak
**.bbl
**.bcf
**.blg
**.fls
**.glg
**.glo
**.gls
**.glsdefs
**.ist
**.lof
**.log
**.lot
**.kate-swp
**.nav
**.out
**.run.xml
**.snm
**.synctex.gz
**.synctex(busy)
**.tdo
**.toc
**.typo
**.vbr
**.xmpi

thesis2.pdf
